%div{:style => 'background-color: white; width: 100%; position: fixed'}
  - if start + slice.length < total
    %a{:href => "?s=#{start+ slice.length}&p=#{per_page}"}
      Next

- for key, photos in slice
  %div{:style => 'padding-top: 50px; clear: both'}
    %div
      = key
    - sorted_photos = photos.dup.sort_by! {|a| a['modified_by_me_time']}
    - for photo in sorted_photos
      %div{:style => 'float: left'}
        %div{:style => 'padding: 5px 0px 5px 0px'}
          = "(#{photo['image_media_metadata']['width']} x #{photo['image_media_metadata']['height']})"
        %img{:src => photo['thumbnail_link'], :title => photo.to_json}
